{% extends 'base.html' %}

{% block content%}
<div class="container">
    <div class="row">

        <div class="col-md-8 m-auto p-4">
            <h3 class="text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit, illum.</h3>

            <div class="input-group">
                <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                <button type="button" class="btn btn-outline-primary">search</button>
              </div>
        </div>
       
    </div>
<!-- Weekly Feature Section --> 
    <div class="row m-4">
        <div class="col-md-12 shadow-lg">
            <div class="row justify-content-center m-2 p-2">
                <div class="col-md-4 text-center">
                  <h3>Header</h3>
                  <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi iusto nulla omnis
                    perspiciatis architecto id? Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum maxime cumque 
                    corporis sed hicmaiores ducimus. Consequuntur eveniet Lorem ipsum dolor sit amet consectetur adipisicing 
                    elit. Vitae, blanditiis! Laboriosam ea quos soluta blanditiis voluptates necessitatibus consectetur sapiente ullam 
                    pariatur corporis asperiores maxime alias tenetur reiciendis odit, sequi suscipit?
                    eligendi blanditiis facilis, itaque corrupti aut sed hic commodi, tempore, esse saepe!</p> 
                  </div>
                <div class="col-md-4 text-center">
                  <h3>Header</h3>
                  <p>  Lorem ipsum dolor, sit amet consectetur adipisicing
                    elit. Nostrum corporis quos, voluptatem voluptate facere  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                     Nesciunt nemo nam voluptatibus Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil sit quae 
                     laudantium, impedit, quos illum inventore iure recusandae vel nostrum, dolores laborum. 
                     Velit totam soluta molestiae aliquam, similique amet architecto.
                     minima. Asperiores placeat numquam iste enim eveniet
                     dolores id obcaecati illo, voluptates ipsam dolor nisi quas nulla quam?
                   at.</p>
                 </div>
                <div class="col-md-4 text-center">
                  <h3>Header</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo aut sequi qui ipsam quia 
                    nemo. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore at maxime nihil consequatur, hic atque perferendis culpa, 
                    assumenda aspernatur exercitationem nisi! Quia officiis animi, quidem ipsam atque laudantium earum id?
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum expedita labore quibusdam tenetur laboriosam vero! In possimus odio vero.
                     Dignissimos vel cum, ab eveniet nihil blanditiis
                     qui saepe obcaecati eum?
                  </div></p>
                  
            </div>
        </div>
    </div>

    <div class="row my-5">
      <h3 class="text-center">New Items</h3>
      {% for each in items%}
      
        <a href="{% url 'item_detail' each.id %}" class="col-md-4 text-decoration-none mt-2"  >
            <div class="card shadow-lg border-secondary">
              
                <img style="height: 250px;"src="{{ each.item_image.url }}" class="card-img-top" alt="{{each.name}}"/>
                <h5 class="card-title text-center text-primary">{{each.name}}</h5>
                <div class="card-body text-secondary">
                  <p class="card-text">{{each.description| truncatechars:80}}</p>
                  <small class="text-dark">GH₵{{each.price}} </small>
                </div>
              
              </div>
            </a>
        {% endfor %}
      
    </div>

    <!-- Category Section --> 
   <div class="row my-5">
    <h3 class="text-primary text-center">Categories </h3>
    {% for each in categories %}
    
    <div class="col-md-3 my-2">
      <a href="" class="text-decoration-none">
        <div class="card">
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted text-center">{{each.name}}</h6>
              <p class="card-text text-muted">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </a>
    </div>
    {% endfor %}

   </div>
</div>
{% endblock %}