{% extends 'base.html' %}

{% block content%}
<div class="container">
    <div class="row">

        <div class="col-md-8 m-auto p-4">
            <h3 class="text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit, illum.</h3>

            <div class="input-group">
                <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                <button type="button" class="btn btn-outline-primary">search</button>
              </div>
        </div>
       
    </div>
<!-- Weekly Feature Section --> 
    <div class="row m-4">
        <div class="col-md-12 shadow-lg">
            <div class="row justify-content-center m-2 p-2">
                <div class="col-md-4 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi iusto nulla omnis perspiciatis architecto id?</div>
                <div class="col-md-4 text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum corporis quos, voluptatem voluptate facere at.</div>
                <div class="col-md-4 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo aut sequi qui ipsam quia nemo.</div>
            </div>
        </div>
    </div>

    <div class="row my-5">
      <h3 class="text-center">New Items</h3>
      {% for each in items%}
      
        <a href="{% url 'item_detail' each.id %}" class="col-md-4 text-decoration-none "  >
            <div class="card shadow-lg border-secondary">
              
                <img style="height: 250px;"src="{{ each.item_image.url }}" class="card-img-top" alt="{{each.name}}"/>
                <h5 class="card-title text-center text-primary">{{each.name}}</h5>
                <div class="card-body text-secondary">
                  <p class="card-text">{{each.description| truncatechars:80}}</p>
                  <small class="text-dark">GH₵{{each.price}} </small>
                </div>
              
              </div>
            </a>
        {% endfor %}
      
    </div>

    <!-- Category Section --> 
   <div class="row my-5">
    <h3 class="text-primary text-center">Categories </h3>
    {% for each in categories %}
    
    <div class="col-md-3 my-2">
      <a href="" class="text-decoration-none">
        <div class="card">
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted text-center">{{each.name}}</h6>
              <p class="card-text text-muted">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </a>
    </div>
    {% endfor %}

   </div>
</div>
{% endblock %}